{% extends '::base.html.twig' %}

{% block body -%}
    <h1>FakeClienteDia</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Clientediamax</th>
                <td>{{ entity.ClienteDiaMax }}</td>
            </tr>
            <tr>
                <th>Clientediamin</th>
                <td>{{ entity.ClienteDiaMin }}</td>
            </tr>
            <tr>
                <th>Porciento</th>
                <td>{{ entity.porciento }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('count_dia') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('count_dia_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
