{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Cliente</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Clave</th>
                <td>{{ entity.clave }}</td>
            </tr>
            <tr>
                <th>Fechadeingreso</th>
                <td>{{ entity.fechaDeIngreso|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Fechadepago</th>
                <td>{{ entity.fechaDePago|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ entity.nombre }}</td>
            </tr>
            <tr>
                <th>Apellidos</th>
                <td>{{ entity.apellidos }}</td>
            </tr>
            <tr>
                <th>Tipo</th>
                <td>{{ entity.tipo }}</td>
            </tr>
            <tr>
                <th>Sexo</th>
                <td>{{ entity.sexo }}</td>
            </tr>
            <tr>
                <th>Servicio</th>
                <td>{{ entity.servicio }}</td>
            </tr>
            <tr>
                <th>Costodeservicio</th>
                <td>{{ entity.costoDeservicio }}</td>
            </tr>
            <tr>
                <th>Fotoruta</th>
                <td>{{ entity.fotoRuta }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('cliente') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('cliente_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
